# Welcome to "Sussex House"!

This is my Home Assistant installation and the insanity that runs my life

Home Assistant is now running in a VM on a ProxMox VE server. 
ProxMox is running on a Dell R630 with 128GB RAM, 2 Virtual Disks (ProxMox OS on 2 1TB SSD Raid 1, LXCs and VMs on 6 1TB SSDs in RAID 6)
(and NO Home Assistant isnt the only thing running on the box hah!)

## Some statistics about my installation:

Description | value
-- | --
Number of entities | {{states | count}}
Number of sensors | {{states.sensor | count}}
Number of automations | {{states.automation | count}}
Number of scripts | {{states.script | count}}
Number of scenes | {{states.scene | count}}
Number of zones | {{states.zone | count}}
Number of binary sensors | {{states.binary_sensor | count}}

## My installed extensions:

### Add-ons
{%- for addon in addons | sort(attribute='name') %}
- **{{addon.name}}** (Version {{addon.version}})
{%- endfor %}


### Built-in Integrations
{%- set ignored_domains = ['persistent_notification', 'automation', 'group', 'script'] %}
{%- for domain in states | map(attribute='domain') | unique | list | sort %}
  {%- if domain not in ignored_domains %}
- **{{ domain }}** ({{ states[domain] | count }} entities)
  {%- endif %}
{%- endfor %}



### Custom integrations
{%- for component in hacs_components | selectattr('category', 'equalto', 'integration') | sort(attribute='name') %}
- [**{{component.name}}**]({{component.documentation}}):<br /> *{{component.description}}*
{%- endfor %}

### Lovelace plugins
{%- for component in hacs_components | selectattr('category', 'equalto', 'plugin') | sort(attribute='name') %}
- [**{{component.name}}**]({{component.documentation}}):<br /> *{{component.description}}*
{%- endfor %}

### Themes
{%- for component in hacs_components | selectattr('category', 'equalto', 'theme') | sort(attribute='name') %}
- [**{{component.name}}**]({{component.documentation}}):<br /> *{{component.description}}* 
{%- endfor %}


***

Generated by the [custom readme integration](https://github.com/custom-components/readme)
