substitutions:
  name: bt-proxy-basement
  friendly_name: BT Proxy Basement

esphome:
  name: ${name}
  friendly_name: ${friendly_name}

esp32:
  board: featheresp32
  framework:
    type: esp-idf

logger:

api:
  encryption:
    key: !secret api_key

ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid2
  password: !secret wifi_password
  
  ap:
    ssid: "${name} Fallback"
    password: !secret ap_password

captive_portal:

esp32_ble_tracker:
  scan_parameters:
    interval: 1100ms
    window: 1100ms
    active: true

bluetooth_proxy:
  active: true

button:
  - platform: safe_mode
    name: Safe Mode Boot