substitutions:
  name: home-assistant-voice-098458
  friendly_name: Voice Test Box
packages:
  Nabu Casa.Home Assistant Voice PE: github://esphome/home-assistant-voice-pe/home-assistant-voice.yaml
esphome:
  name: ${name}
  name_add_mac_suffix: false
  friendly_name: ${friendly_name}
api:
  encryption:
    key: !secret api_key


wifi:
  ssid: !secret wifi_ssid2
  password: !secret wifi_password


i2c:
  - id: grove_i2c
    sda: GPIO1
    scl: GPIO2
    frequency: 100kHz
    scan: true

sensor:
#  - platform: sgp4x
#    i2c_id: grove_i2c
#    voc:
#      name: "${friendly_name} VOC Index"
#    nox:
#      name: "${friendly_name} NOx Index"
#    compensation:
#      temperature_source: scd41_temperature
#      humidity_source: scd41_humidity
#    store_baseline: true
#    update_interval: 60s

# SGP30 - TVOC and eCO2
  - platform: sgp30
    i2c_id: grove_i2c
    eco2:
      name: "eCO2"
      accuracy_decimals: 0
    tvoc:
      name: "TVOC"
      accuracy_decimals: 0
    store_baseline: yes
    update_interval: 60s
    compensation:
      temperature_source: scd4x_temp
      humidity_source: scd4x_humidity

  # SCD41 - CO2, Temperature, Humidity
  - platform: scd4x
    i2c_id: grove_i2c
    id: scd41_sensor
    co2:
      name: "CO2"
      id: scd4x_co2
    temperature:
      name: "Temperature"
      id: scd4x_temp
    humidity:
      name: "Humidity"
      id: scd4x_humidity
    update_interval: 60s
    measurement_mode: periodic
    automatic_self_calibration: true

  # WiFi Signal Strength
  - platform: wifi_signal
    name: "WiFi Signal"
    update_interval: 60s

# Calibration button
button:
  - platform: template
    name: "Calibrate CO2 to 426ppm"
    icon: "mdi:calibrate"
    on_press:
      - scd4x.perform_forced_calibration:
          value: 426
          id: scd41_sensor        